<div class="row section">
    <div class="col s12 m10 offset-m1 white z-depth-1">
        <form {{action "createUser" model on="submit" }}>
            <div class="container">
                <h1>Sign up</h1>
                <div class="row">
                    <div class="col s12">
                        {{#link-to 'login'}}Already a user? Sign in!{{/link-to}}
                    </div>
                    <div class="col s12">
                        <div class="row">
                            <div class="col s12">
                                {{#each model.errors.messages as |message|}}
                                    <p class="error-message">{{message}}</p>
                                {{/each}}
                            </div>
                            <div class="input-field col s12">
                                {{input id="username" value=model.username}}
                                <label for="username">Username</label>
                            </div>
                            <div class="input-field col s12">
                                {{input id="password" type="password" value=model.password}}
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <button class="waves-effect waves-light btn" type="submit" disabled={{model.isNotValid}}>Sign up!</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
