<div class="row section">
    <div class="col s12 m6 offset-m1">
        <div class="calculator-container z-depth-1">
            <div class="register-container">
                <div class="row">
                    <div class="col s12">
                        {{register-tape register=registerTape registerUpdated="registerUpdated"}}
                    </div>
                </div>
                {{#if hasRegister}}
                    {{#link-to "review" tagName="a" class="btn-floating btn-large keep-register-link"}}
                        <i class="material-icons">save</i>
                    {{/link-to}}
                {{/if}}
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="screen blue-grey darken-4 white-text right-align">
                        {{display}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s9">
                    <div class="custom-container row">
                        <div class="col s3">
                            <button class="btn-flat {{if cannotInputOperator 'disabled'}}" disabled={{cannotInputOperator}} {{action "inputOperator" "powerOf"}}>x(y)</button>
                        </div>
                        <div class="col s3">
                            <button class="btn-flat {{if cannotInputOperator 'disabled'}}" disabled={{cannotInputOperator}} {{action "inputOperator" "factorial"}}>!</button>
                        </div>
                        <div class="col s3">
                            <button class="btn-flat {{if cannotInputOperator 'disabled'}}" disabled={{cannotInputOperator}} {{action "inputOperator" "sin"}}>sin</button>
                        </div>
                        <div class="col s3">
                            <button class="btn-flat {{if cannotInputOperator 'disabled'}}" disabled={{cannotInputOperator}} {{action "inputOperator" "cos"}}>cos</button>
                        </div>
                    </div>
                    <div class="number-container">
                        <div class="row">
                            <div class="col s4">
                                <button class="btn-flat {{if cannotInputNumber 'disabled'}}" disabled={{cannotInputNumber}} {{action "inputNum" "7"}}>7</button>
                            </div>
                            <div class="col s4">
                                <button class="btn-flat {{if cannotInputNumber 'disabled'}}" disabled={{cannotInputNumber}} {{action "inputNum" "8"}}>8</button>
                            </div>
                            <div class="col s4">
                                <button class="btn-flat {{if cannotInputNumber 'disabled'}}" disabled={{cannotInputNumber}} {{action "inputNum" "9"}}>9</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s4">
                                <button class="btn-flat {{if cannotInputNumber 'disabled'}}" disabled={{cannotInputNumber}} {{action "inputNum" "4"}}>4</button>
                            </div>
                            <div class="col s4">
                                <button class="btn-flat {{if cannotInputNumber 'disabled'}}" disabled={{cannotInputNumber}} {{action "inputNum" "5"}}>5 </button>
                            </div>
                            <div class="col s4">
                                <button class="btn-flat {{if cannotInputNumber 'disabled'}}" disabled={{cannotInputNumber}} {{action "inputNum" "6"}}>6</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s4">
                                <button class="btn-flat {{if cannotInputNumber 'disabled'}}" disabled={{cannotInputNumber}} {{action "inputNum" "1"}}>1</button>
                            </div>
                            <div class="col s4">
                                <button class="btn-flat {{if cannotInputNumber 'disabled'}}" disabled={{cannotInputNumber}} {{action "inputNum" "2"}}>2</button>
                            </div>
                            <div class="col s4">
                                <button class="btn-flat {{if cannotInputNumber 'disabled'}}" disabled={{cannotInputNumber}} {{action "inputNum" "3"}}>3</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s4">
                                <button class="btn-flat {{if cannotInputNumber 'disabled'}}" disabled={{cannotInputNumber}} {{action "inputNum" "."}}>.</button>
                            </div>
                            <div class="col s4">
                                <button class="btn-flat {{if cannotInputNumber 'disabled'}}" disabled={{cannotInputNumber}} {{action "inputNum" "0"}}>0</button>
                            </div>
                            <div class="col s4">
                                <button class="btn-flat btn-equals {{if cannotInputEqualOperator 'disabled'}}" disabled={{cannotInputEqualOperator}} {{action "inputOperator" "equal"}}>=</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s3">
                    <div class="function-container">
                        <div class="row">
                            <div class="col s12">
                                <button class="btn-flat btn-clear" {{action "clearDisplay"}}>{{clearCurrent}}</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <button class="btn-flat {{if cannotInputOperator 'disabled'}}" disabled={{cannotInputOperator}} {{action "inputOperator" "divide"}}>รท</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <button class="btn-flat {{if cannotInputOperator 'disabled'}}" disabled={{cannotInputOperator}} {{action "inputOperator" "multiply"}}>ร</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <button class="btn-flat {{if cannotInputOperator 'disabled'}}" disabled={{cannotInputOperator}} {{action "inputOperator" "subtract"}}>-</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <button class="btn-flat {{if cannotInputOperator 'disabled'}}" disabled={{cannotInputOperator}} {{action "inputOperator" "add"}}>+</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        {{saved-registers registers=model viewRegister=(action "goToViewRegister")}}
    </div>
</div>
