{{#if hasRegister}}
    {{#link-to 'review'}}Review/Keep Register{{/link-to}}
{{/if}}
<div class="calculator-container">
    {{register-tape register=registerDisplay}}
    <div class="calculator-main">
        <div class="screen">{{display}}</div>
        <button class="calc-button clear-btn" {{action "clearDisplay"}}>{{clearCopy}}</button>
        <div class="number-container">
            <div class="custom-container">
                <button class="calc-button custom-button">F1</button>
                <button class="calc-button custom-button">F2</button>
                <button class="calc-button custom-button">F3</button>
                <button class="calc-button custom-button">F4</button>
            </div>
            <button class="calc-button number-button" disabled={{cannotInputNumber}} {{action "inputChar" "7"}}>7</button>
            <button class="calc-button number-button" disabled={{cannotInputNumber}} {{action "inputChar" "8"}}>8</button>
            <button class="calc-button number-button" disabled={{cannotInputNumber}} {{action "inputChar" "9"}}>9</button>
            <button class="calc-button number-button" disabled={{cannotInputNumber}} {{action "inputChar" "4"}}>4</button>
            <button class="calc-button number-button" disabled={{cannotInputNumber}} {{action "inputChar" "5"}}>5 </button>
            <button class="calc-button number-button" disabled={{cannotInputNumber}} {{action "inputChar" "6"}}>6</button>
            <button class="calc-button number-button" disabled={{cannotInputNumber}} {{action "inputChar" "1"}}>1</button>
            <button class="calc-button number-button" disabled={{cannotInputNumber}} {{action "inputChar" "2"}}>2</button>
            <button class="calc-button number-button" disabled={{cannotInputNumber}} {{action "inputChar" "3"}}>3</button>
            <button class="calc-button zero-button" disabled={{cannotInputNumber}} {{action "inputChar" "0"}}>0</button>
            <button class="calc-button decimal-button" disabled={{cannotInputNumber}} {{action "inputChar" "."}}>.</button>
        </div>
        <div class="function-container">
            <button class="calc-button function-button" disabled={{cannotInputOperator}} {{action "inputChar" "/"}}>/</button>
            <button class="calc-button function-button" disabled={{cannotInputOperator}} {{action "inputChar" "*"}}>*</button>
            <button class="calc-button function-button" disabled={{cannotInputOperator}} {{action "inputChar" "-"}}>-</button>
            <button class="calc-button function-button" disabled={{cannotInputOperator}} {{action "inputChar" "+"}}>+</button>
            <button class="calc-button function-button" disabled={{cannotInputOperator}} {{action "requestEvaluation"}}>=</button>
        </div>
    </div>
</div>
{{saved-registers registers=model viewRegister=(action "goToViewRegister")}}
